.passGen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  gap: 20px;
}

.passGen input {
  color: black;
}

.range-check {
  gap: 10px;
  margin: 10px;
  padding: 10px;
  margin-right: 10px;
}